<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-md">
            <div class="container">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="active nav-item"><a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item"><a href="/containers" class="nav-link">Containers</a>
                        </li>
                        <li class="nav-item"><a href="/charts" class="nav-link">Charts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron">
            <div class="container">
                <h1>Do you want to learn about containerized applications?</h1>
                <p>Choose between containers and charts to learn more about these solutions</p>
                <br>
                <a class="btn btn-primary btn-lg" href="/containers" role="button">Containers</a>
                <a class="btn btn-primary btn-lg" href="/charts" role="button">Charts</a>
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Understanding Containers</h3>
                    <p>Containers are isolated, lightweight packages of code that include an application and all its dependencies, like libraries and frameworks. This allows the containerized application to run on any operating system without issues.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>Beyond Containers: The Power of Charts</h3>
                    <p>A chart is a package of files that defines and manages a related set of Kubernetes resources. They are used to package and deploy applications and all their dependencies, which simplifies the installation and management of complex applications.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>